.container {
  max-width: 1520px;
  margin: 0 auto;
}
.addData {
  text-align: center;
}
.addDataBtn {
  padding: 10px 30px;
  background-color: #095fd6;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.addDataBtn:hover {
  background-color: #0650b7;
  cursor: pointer;
}
